 <% obj.each do |c| %>
  <tr>
    <td><%= link_to c.id, case_path(c) %></td>
    <td><%= c.public_id %></td>
    <td><%= c.status_id %></td>
    <td><%= c.action_plan %></td>
    <td><%= c.user.email %></td>
    <td>
      
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_case_path(c), :class => 'btn btn-default btn-xs' %>
      <% if current_user and current_user.admin? %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    case_path(c),
                    :method => :delete,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-xs btn-danger' %>
      <% end %>
    </td>
  </tr>
<% end %>