
<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4><%= @user.name %></h4>
  </div>
  <div class="panel-body">
    <%= form_for(@user) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
          <div class="col-md-6 no-padding">
             <%= f.label :team_id %>
             <%= f.select(:team_id, Team.all.collect {|u| [u.name, u.id]}, {:prompt => 'Select'}, { :class => 'form-control col-md-3' })%>
          </div>
          <div class="col-md-6 no-padding left-padding">
             <%= f.label :position_id %>
             <%= f.select(:position_id, Position.all.collect {|u| [u.name, u.id]}, {:prompt => 'Select'}, { :class => 'form-control col-md-3' }) %>
          </div>
      </div>
      <%= f.submit t('.update', default: 'Update'), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<%= link_to t('.back', default: 'Back'), :back %>
