<% obj.each do |c| %>
  <tr>
   <%#= link_to c.id, case_path(c) %>
    <td><%= c.name %></td>
    <td><%= c.position.nil? ? "not assinged" : c.position.name %></td>
    <td><%= c.team.nil? ? "not assinged" : c.team.name %></td>
    <td><%= c.updated_at %></td>
    <% if current_user and current_user.admin? %>
        <td>
          
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_user_path(c), :class => 'btn btn-default btn-xs' %>
        </td>
    <% end %>
  </tr>
<% end %>