<%- model_class = Report -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @report.user.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:team_id) %>:</strong></dt>
  <dd><%= @report.team.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:read) %>:</strong></dt>
  <dd><%= @report.read ? "This report will be mark as read after you finish to see it" : "" %></dd>
</dl>

<% if @report.user.cases.nil? %>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>id </th>
      <th>status</th>
      <th>Action plan</th>
    </tr>
  </thead>
  <tbody>
     <% @report.user.cases.each do |c| %>
       <% if c.created_at.to_date.eql? @report.created_at.to_date %>
        <tr>
          <td><%= c.public_id %></td>
          <td><%= c.status_id %></td>
          <td><%#= c.action_plan %></td>
          <td><%=  %></td>
          <td>
          </td>
        </tr>
       <% end %>
      <% end %>
  </tbody>
</table>
<% else %>
  <h3>No cases to report</h3>
<% end %>


<%= link_to t('.back', :default => t("helpers.links.back")),
              reports_path, :class => 'btn btn-default'  %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              report_path(@report),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
